<!doctype html>
<html class="no-js" lang="">

<head>
  <title>Mosaic Collective - Helping your business keep up with the everchanging world of technology</title>
  {{ template "templates/components/meta.html" .}}
</head>

<body>
  <header>

    {{ template "templates/components/header.html" .}}
    <div id="header-content" class="contain">
      <div class="word-rotate">
        <p class="intro home">Our State of </p>


        <div id="rotate">
          <div>AI</div>
          <div>Emerging Tech</div>
          <div>Social Media</div>
          <div>Innovation</div>
        </div>

        <p class="intro-below">talks keep you ahead</p>

      </div>

      <div class="bottom-link">
        <a href="{{.Route}}/talks" class="under-link">View current talks</a>
      </div>
    </div>
    <div id="header-mosaic"></div>
  </header>
  <!-- end of header -->
  

  <section class="white">
    <div class="contain">
      <div class="grid-container">
        <div class="ui mobile reversed stackable grid">
          <div class="seven wide column">
            <img src="{{.Route}}/static/img/mosaic-group.png" class="full-width">
          </div>

          <div class="nine wide column">
            <h2><span class="highlight">Decision making with a competitive advantage.</span></h2>

            <p>Keeping up with the ever-changing world of technology has never been more complex.</p>

            <p>Our talks pinpoint exactly what you need to know about the latest cutting-edge technology and our skilled
              network of speakers communicate this in a <span class="bold">simple, precise and efficient manner</span>.
            </p>

            <p>Our mission is to make sure that what you do next is <span class="bold">educated and data-driven</span>.
            </p>

            <p class="spacer"><a href="{{.Route}}/talks" class="under-link black">View current
                talks</a></p>
          </div>

        </div>
      </div>
  </section>

  <section class="black">
    <div class="contain">
      <div class="grid-container">
        <div class="ui two column stackable grid">
          <div class="column">
            <h2 class="section-title">Stay updated</h2>


            <p>For your monthly dose of future tech register for our newsletter below:</p>

            <form action="https://mosaiccollective.us4.list-manage.com/subscribe/post-json?u=f725fa792531488b60c4acb7e&amp;id=265d2a405e" method="get" id="submit-form-event-jsonp" class="signup-form ui form"> 
              <input type="email" placeholder="Email address*" name="EMAIL" class="border">
              <input type="text" placeholder="First name" name="FNAME" class="border" id="mce-FNAME">
              <input type="text" placeholder="Last name" name="LNAME" class="border" id="mce-FNAME">
              <input type="submit" value="Subscribe" class="submit">
            </form>
             
            <p id="subscribe-result"></p>
          </div>

          <div class="column">
            <h2 class="section-title">Get involved</h2>

            <p>Emerge is an open forum to discuss the shift created by technology.</p>

            <p><a href="https://www.linkedin.com/groups/13824201/" target="new" class="underline white">Join Emerge on LinkedIn</a></p>

            <a href="https://www.linkedin.com/groups/13824201/" target="new">
              <img src="/static/img/emerge_e.png" class="icon">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="brown">
    <div class="contain">
      <div class="grid-container">


        <h2 class="section-title">Our current talks</h2>

        <div class="ui two column stackable grid">
          <div class="column">
            <a class="block-product-link" href="{{.Route}}/talks/state-of-emerging-tech">
              <div class="block-product emerge">
                <div class="cover-black"></div>
                <h2>State of<br>Emerging Tech</h2>
              </div>
            </a>
          </div>

          <div class="column">
            <a class="block-product-link" href="{{.Route}}/talks/state-of-innovation">
              <div class="block-product innovation">
                <div class="cover-black"></div>
                <h2>State of<br>Innovation</h2>
              </div>
            </a>
          </div>

          <div class="column">
            <a class="block-product-link" href="{{.Route}}/talks/state-of-ai">
              <div class="block-product ai">
                <div class="cover-black"></div>
                <h2>State of<br>Artificial Intelligence</h2>
              </div>
            </a>
          </div>

          <div class="column">
            <a class="block-product-link" href="{{.Route}}/talks/state-of-social-media">
              <div class="block-product social">
                <div class="cover-black"></div>
                <h2>State of<br>Social Media</h2>
              </div>
            </a>
          </div>

        </div>
      </div>
  </section>

  <section class="white">
    <div class="contain">
      <div class="grid-container">
        <div class="ui stackable grid">
          <div class="nine wide column">
            <h2><span class="highlight">A group of highly skilled communicators and technologists based in central
                London.</span></h2>

            <p>For the last decade we’ve been advising leadership and boards on <span class="bold">data science</span>,
              <span class="bold">machine learning</span>, <span class="bold">cyber security</span> and <span
                class="bold">emerging technology</span>.</p>

            <p>We have particular experience in the <span class="bold">finance</span>, <span class="bold">retail</span>,
              <span class="bold">government</span>, <span class="bold">insurance</span>, <span class="bold">law</span>
              and <span class="bold">creative</span> sectors.</p>

            <p class="spacer"><a href="{{.Route}}/speakers" class="under-link black">Meet the team</a>
            </p>

          </div>

          <div class="seven wide column align-right">
            <img src="{{.Route}}/static/img/mosaic-group.png" class="full-width">
          </div>

        </div>
      </div>
  </section>

  <section class="brown">
    <div class="contain">
      <div class="grid-container">
        <div class="ui mobile reversed stackable grid">
          <div class="seven wide column">
            <p><strong>Over the years, we have collectively worked with a number of companies in a range of sectors, including:</strong></p>

            <p>
              Google<br>
              IBM<br>
              IKEA<br>
              KPMG<br>
              VISA<br>
              Vodafone
            </p>
          </div>

          <div class="nine wide column">

            <p><strong>Some testimonials from our clients:</strong></p>

            <p>Jonathan facilitated our Joint Day of Learning when two groups (executive leaders and younger talents) in spent a day together learning about innovation and start-ups. We had a great day not least due to Jonathan teaching and facilitating the whole thing. Comes strongly recommended!</p>
            <em><p style="text-align:right;">Leading finance company</p></em>
            
            <br>

            <p>Chris and Alex have a great way of presenting information in a clear and concise way, it feels easy to understand. Thank you so much!</p>
            <em><p style="text-align:right;">Leading AI company</p></em>

          </div>

        </div>
      </div>
  </section>

  {{ template "templates/components/footer.html" .}}


  {{ template "templates/components/scripts.html" .}}

</body>

</html>
