/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    letter-spacing: 0.04em;
}

html, body {
    height: 100%;
    margin: 0px;
    overflow-x: hidden;
    padding: 0px;
    width: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* Variables for colour */

:root {
    --accent-colour: #3ab99e;
}

/* Variables for size */

:root {
    --border-radius: 20px;
}


/*
 * A better looking default horizontal rule
 */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

body {
    text-align: left;
    font-size: 13px;
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'DM Serif Display', serif;
    font-family: 'DM Serif Text', serif; */
}

p.back {
    font-size: 1.2em;
}

ul.inline-details {
    padding: 0
}

i.large {
    font-size: 3em;
}

ul.inline-details li {
    margin-right: 1em;
    list-style-type: none;
    display: inline;
}

ul.inline-details li:last-child {
    margin-right: 0;
}

ul.inline-details li i {
    font-size: 2em;
}

section {
    padding: 3em 0;
    clear: both;
}

.product-intro {
    font-size: 1.8em;
    font-weight: 400;
}

p.detail-icon i {
    vertical-align: middle;
}

section.grey {
    background: #eee;
}

section.black {
    background: #000;
    color: white;
}

p.copyright {
    font-size: 1.2em;
}

/* h1 {
    font-size: 2em;
} */

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}

h2 {
    font-size: 3em;
    line-height: 1.1;
    margin-bottom: 0.75em;
}

h2.title {
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
}

.italic {
    font-style: italic;
    border-bottom: 1px solid #000;
}

ul.logos {
    font-size: 1.2em;
    padding-left: 1.5em;
}

ul.logos li {
    margin-bottom: 0.75em;
}

img.full-width {
    width: 60%;
    height: auto;
}

p.intro, h1.intro {
    font-family: 'DM Serif Display', serif;
    font-size: 4.8em;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 0.75em;
}

p.intro.home {
    display: inline;
    margin-bottom: 0;
}

p.intro-below {
    font-family: 'DM Serif Display', serif;
    font-size: 4.8em;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 0;
    padding-top: 0.1em;
    margin-top:0;
}


#rotate {
  display:inline-block;
  font-family: 'DM Serif Display', serif;
    font-size: 4.8em;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 0;
    color: var(--accent-colour);
}

p.product-title, h1.product-title {
    font-family: 'DM Serif Display', serif;
    font-size: 4.8em;
    font-weight: 400;
    line-height: 1.2em;
    margin-bottom: 0;
    max-width: 700px;
    margin-bottom: 0.75em;
}

nav#top-nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0 0;
    z-index: 2;
}

nav#top-nav ul {
    font-size: 1.1em;
    font-weight: 400;
    margin:0;
    padding: 0;
}

nav#top-nav ul li {
    display: inline;
    margin-right: 0.25em;
    margin-left: 0.25em
}

nav#top-nav ul li a {
    color: white;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
}

section.white {
    background: white;
}

section.brown {
    background: #F2E8DF;
}

.logo {
    width: 100%;
    max-width: 160px;
    margin: 0;
}

.grid-container {
    margin: 2em 1em;
    max-width: 1100px;
}

.cover-black {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgb(0,0,0,0.7);
    z-index: 3;
}

.center {
    text-align: center;
}

.block-product {
    background: black;
    background-position: center;
    background-size: cover;
    border-radius: var(--border-radius);
    color: white;
    min-height: 300px;
    overflow: auto;
    padding: 1.5em;
    position: relative;
    transition: opacity 0.1s linear;
    z-index: 10;
}

.block-product h2 {
    font-size: 3.5em;
}

.block-product-small h2 {
    font-size: 2.5em;
}

.block-product-link {
    text-decoration: none;;
}

.block-product-link:hover > .block-product {
    opacity: 0.8;
}


#myWords {
    width: 100%;
}

.bold {
    font-weight: 700;
}

span.highlight {
    color: var(--accent-colour);
}

.block-product h2 {
    position: relative;
    z-index: 10;
    margin-top:0;
}

h2 {
    font-weight: 400;
}

h2.section-title {
    font-size: 3em;
    margin-bottom: 1em;
}

i {
    font-size: 3em;
}

.word-rotate {
    margin-bottom: 3rem;
}

p {
    font-size: 1.4em;
    width: 100%;
    margin: 1em 0;
    font-weight: 400;
}

span.highlight {
    font-weight: 400;
}

.bottom-link {
    position: absolute;
    bottom: 3em;
    font-size: 1.2em;
}

/*button {
    margin: 1em auto;
    padding: 1em 1.5em;
    text-align: center;
    background: #EB4C27;
    color: white;
    font-weight: 400;
    border:none;
    font-family: 'Heebo', serif;
    letter-spacing: 0.04em;
    border-radius: 4px;
}*/

a.under-link {
    color: white;
    text-decoration: none;
    font-weight: 400;
    padding-bottom: 0.25em;
    border-bottom: 6px solid var(--accent-colour);
    letter-spacing: 0em;
}

a.under-link:hover, a.under-link.black:hover {
    color: var(--accent-colour);
}

a.info-link {
    color: white;
    text-decoration: none;
    font-weight: 400;
    padding-bottom: 0.25em;
    letter-spacing: 0em;
}

a.info-link:hover {
    color: white;
}


a.under-link.black {
    color: black;
}

p.spacer {
    margin-top:2em;
}

.item p {
    font-size: 1.2em;
}

.item p a {
    color: black;
    text-decoration: underline;
    font-weight: 400;
}

a {
    text-decoration: underline;
    color:black;
}

a:hover {
    color: var(--accent-colour);
}

nav a {
    color: white;
    text-decoration: none;
}


img.person {
    border-radius: 100%;
    max-width: 240px;
    height: auto;
    box-shadow: 0 0 3px #ccc;
}

.ui.grid .row {
    margin-bottom: 3em;
}

.emerge {
    background-image: url("{{.Route}}/static/img/emerging-tech.png");
}

.ai {
    background-image: url("{{.Route}}/static/img/ai.png");
}

.innovation {
    background-image: url("{{.Route}}/static/img/innovation.png");
}

.social {
    background-image: url("{{.Route}}/static/img/social.png");
}

.seperate {
    margin: 4em 0;
}

.services-grid .column {
    margin-top: 2em;
}

footer {
    background: black;
    color: white;
    padding: 4em 0;
}

footer a {
    color: white;
    text-decoration: none;
}

header {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 480px;
    position: relative;
    text-align: left;
    width: 100%;
}

a.underline {
    text-decoration: underline;
}

a.white {
    color: white;
}

.ui.form.signup-form input.border {
    background: black;
    border:1px solid white;
    margin-bottom: 0.5em;
    color: white;
    max-width: 320px;
    display: block;
}

img.icon {
    width: 100%;
    max-width: 76px;
    border-radius: 5px;
}

.ui.form.signup-form input.submit {
    background: white;
    color: black;
    border-radius: 3px;
    border:none;
    padding: 0.5em 0.75em;
}

.header-product {
    /* background-color: rgba(0,0,0,0.7); */
}

.header-product:after {
    content: "";
    background-image: url("{{.Route}}/static/img/talk_bg.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    /* z-index: -2; */
}

#header-product-emerging:after {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    background-image: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(137,190,125,1) 30%, rgba(253,187,45,1) 80%, rgba(253,141,45,1) 100%);
}

#header-mosaic {
    position: absolute;
    bottom: 0;
}

#header-content {
    min-height: 400px;
    z-index: 2;
    display: flex;
    align-items: center;
}



.align-right {
    text-align: right;
}

.contain {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    width: 100%;
}

ul.outcome {
    margin:2em 0;
    font-size: 1.2em;
    padding-left: 0;
}

.section-title {
    font-weight: 400;
    margin-bottom: 2em;
}

ul.outcome li {
    margin-bottom: 1em;
    list-style-type: none;
}

ul.outcome li i {
    color: var(--accent-colour);
     vertical-align:middle;
}

.key-topics {
    background: var(--accent-colour);
    border-radius: var(--border-radius);
    color: white;
    padding: 1.5em;
}

.key-topics ul {
    margin-bottom: 0;
}

.key-topics ul.outcome li i {
    color: white;
}

.topic-contain {
    width: 100%;
    max-width: 800px;
    margin:2em auto;

}

.topic-item {
    margin-bottom: 4em;
    text-align: center;
}

.topic-item h3 {
    font-size: 2em;
    margin-bottom: 0;
}

.align-left {
    text-align: left;
}

p.restrict {
    max-width: 400px;
    margin: 1em auto;
}

hr {
    max-width: 200px;
    margin: auto;
}

.topic-item p {
    float: none;
    text-align: center;
    margin:0.5em auto;
}

a.bold {
    font-weight: 700;
}


a.underline {
    text-decoration: underline;
}

ul.top-nav li a.current {
    color: var(--accent-colour);
}

ul.top-nav li a {
    transition: all 0.3s;
}

ul.top-nav li a:hover {
        color: var(--accent-colour);
    }

nav p a {
    margin:0 0 0 0.5em;
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.8em;
}

nav p a::before {
    content: "\2022";
    padding-right: 0.5em;
}

nav p a:first-child::before {
    content: none;
    padding-right: 0.5em;
}


ul.outcome.inline li {
    font-size: 1.1rem;
    line-height: 1.2em;
}

ul.outcome.checkbox li {
        position: relative;
        padding-left: 2em;
     }

ul.outcome.checkbox li:before {
    font-family: 'Material Icons';
    content: '\e834';
    font-size: 1.5em;
    position: absolute;
    top:0.15em;
    left: 0;
}


@media (max-width: 768px) {

    body {
        font-size: 13px;
    }



     
    h2.section-title {
        text-align: center;
    }

    header {
        min-height: 450px;
    }

    #header-content {
        padding: 0 2em;
    }

    nav#top-nav {
        flex-direction: column;
    }

    section {
        padding: 2em 0;
    }

    ul.top-nav {
        top: 7em;
        font-size: 1em;
        left: 2em;
        width: 100%;
        text-align: left;
    }

    img.person {
    max-width: 140px;
    }

    p.copyright {
        font-size: 1em;
    }

    img.full-width {
        width: 100%;
    }

    .logo {
        text-align: center;
        max-width: 160px;
    }

    .collapse-grid-pairs .item {
        width: 100%;
    }

    .word-rotate {
        margin-bottom: 4rem;
    }

    p.intro, h1.intro {
        font-size: 2.5em;
        line-height: 1.1;
        margin-bottom: 2em;
        padding-top: 0;
        text-align: left;
    }

    nav#top-nav ul {
        margin: 0 auto;
        font-size: 1em;
    }

    p.intro.home {
    margin-bottom: 0;
    font-size: 3em;
    }

    p.intro-below {
        font-family: 'DM Serif Display', serif;
        font-size: 3em;
        font-weight: 400;
        line-height: 1.1;
        margin-bottom: 0;
        padding-top: 0.1em;
        margin-top:0;
    }

    

    #rotate {
      display:inline-block;
      font-family: 'DM Serif Display', serif;
        font-size: 3em;
        font-weight: 400;
        line-height: 1.1;
        margin-bottom: 0;
        color: var(--accent-colour);
        padding-top: 0;
    }


    h3 {
        margin-bottom: 0em;
    }

    p {
        margin: 0.5em 0 1em 0;
    }

}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
