{{ define "templates/components/booking.html" }}
<section class="brown">
  <div class="contain">
    <div class="grid-container">

      <div class="ui stackable grid">
        <div class="16 wide column">
          <h2>Bespoke content</h2>

          <p>Our content has been designed based on <span class="bold">feedback</span> from all of our clients over the
            years. However we
            understand that some organisations have a <span class="bold">current focus</span> that they
            would like to propagate throughout their organisation. On this basis we are always open to <span
              class="bold">tailoring</span> content
            and taking a direction that meets your <span class="bold">needs</span>.</p>

          <p>If this is of interest to you, it may be a case of us taking a slightly different narrative, or building
            demonstrations and case studies around your work. Our bespoke work is charged at a development rate on top
            of the delivery rates.</p>

        </div>

      </div>
    </div>
</section>
<section class="white">
  <div class="contain">
    <div class="grid-container">

      <div class="ui stackable grid">
        <div class="ten wide column">
          <h2>Book a talk</h2>

          <p>If you are interested in booking a talk please send us an email using the address below.</p>

          <p><a href="mailto:info@mosaiccollective.io" class="underline">info@mosaiccollective.io</a></p>

        </div>

      </div>
    </div>
</section>
{{ end }}