{{ define "templates/components/footer.html" }}
<footer>
  <div class="contain">
  	<div class="grid-container">
	  	<div class="ui stackable grid">
	  		<div class="sixteen wide column">
			    <img src="{{.Route}}/static/img/mosaic.png" alt="Mosaic" class="logo">
			    <p class="copyright"><a href="mailto:info@mosaiccollective.io">info@mosaiccollective.io</a><br>&copy; {{.Year}}
			      Mosaic
			      Collective London Ltd</p>
			 </div>
		</div>
	</div>
  </div>
</footer>
{{ end }}