{{ define "templates/components/header.html" }}
<nav id="top-nav" class="contain">
  <a href="/{{.Route}}">
    <img src="{{.Route}}/static/img/mosaic.png" alt="Mosaic" class="logo">
  </a>

  <ul>
    <li><a href="{{.Route}}/">Home</a></li>
    <li><a href="{{.Route}}/talks">Talks</a></li>
    <li><a href="{{.Route}}/speakers">Speakers</a></li>
    <li><a href="{{.Route}}/contact">Contact</a></li>
  </ul>
</nav>
{{end}}