{{ define "templates/components/meta.html" }}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content=" Helping your business keep up with the everchanging world of technology">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="apple-touch-icon" sizes="180x180" href="{{.Route}}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{.Route}}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{.Route}}/favicon-16x16.png">
<link rel="manifest" href="{{.Route}}/site.webmanifest">
<link rel="mask-icon" href="{{.Route}}/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!--  Essential META Tags -->
<meta property="og:title" content="Mosaic Collective">
<meta property="og:description" content="A collective of technologists providing confidence in a world of complex business change.">
<meta property="og:image" content="https://www.mosaiccollective.io/static/img/mosaic_graph.png">
<meta property="og:url" content="https://www.mosaiccollective.io/">
<meta name="twitter:card" content="summary_large_image">
<!--  Non-Essential, But Recommended -->
<meta property="og:site_name" content="Mosaic Collective">

<link rel="stylesheet" href="{{.Route}}/static/css/normalize.css">
<link rel="stylesheet" href="{{.Route}}/static/vendor/semantic/semantic.min.css">
<link rel="stylesheet" href="{{.Route}}/static/css/fonts/fonts.css">
<link rel="stylesheet" href="{{.Route}}/dynamics/css/main.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=DM+Sans:400,400i,700,700i|DM+Serif+Display:400,400i&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158310879-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158310879-1');
</script>

<!-- dynamic loading -->
{{ end }}