{{ define "templates/components/scripts.html" }}

<script src="{{.Route}}/static/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{.Route}}/static/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
<script src="{{.Route}}/static/js/vendor/p5.min.js"></script>
<script src="{{.Route}}/static/js/plugins.js"></script>
<script src="{{.Route}}/static/js/main.js"></script>
<script src="{{.Route}}/static/js/sketch.js"></script>

{{ end }}