{{ define "templates/components/talks.html" }}

<p class="back"><i class="material-icons" style="vertical-align: middle">
    keyboard_arrow_left
  </i> <a href="{{.Route}}/talks" class="underline">Back to Talks</a></p>
{{ end }}