<!doctype html>
<html class="no-js" lang="">

<head>
  <title>State of Social Media - Mosaic Collective</title>
  {{ template "templates/components/meta.html" .}}
</head>

<body>

  <header>
    <div class="header-product">
      {{ template "templates/components/header.html" .}}
      <div id="header-content" class="contain">
        <h1 class="product-title">State of<br><span class="highlight">Social Media</span></h1>
        <div class="bottom-link">
          <a href="#talks" class="info-link">Talk details <span class="highlight">&#8628;</span></a>
        </div>
      </div>
      <div id="header-mosaic"></div>
    </div>
  </header>

  <section class="white">
    <div class="contain">
      <div class="grid-container">
        {{ template "templates/components/talks.html" .}}


        <div class="ui stackable grid">
          <div class="ten wide column">
            <p class="product-intro">Learn to effectively
              communicate and get close to your customer using organic social media.</p>

            <p>This <strong>90 minute talk</strong> on the <strong>State of Social Media</strong> will show you how to
              embrace storytelling and
              growth hacking methods to grow a strong brand following.</p>


          </div>

          <div class="six wide column">
            <div class="key-topics">
              <h2>Key topics</h2>

              <ul class="outcome checkbox">
                <li>Understand the nuances of social networks and how each can
                  benefit your company in different ways</li>
                <li>Exploring creative methods to develop your storytelling to
                  amplify your brand</li>
                <li>Learn growth hacking strategies to build your audience</li>
              </ul>
            </div>
          </div>


        </div>
      </div>
  </section>

  <section class="brown">
    <div class="contain">
      <div class="grid-container">

        <div class="ui stackable grid">
          <div class="ten wide column">
            <p class="product-intro">What's covered?</p>
            <p>
              <strong>Advantages</strong><br>Most of us are very familiar with social platforms but few of us know
              the business advantages of each. We explore popular platforms and their benefits to your brand.
            </p>

            <p>
              <strong>Strategies</strong><br>
              Explore some of the best examples of storytelling and growth hacking within
              social media. This provides inspiration for what’s possible and covers some of the strategies your apply
            </p>

            <p>
              <strong>Management</strong><br>Learn how to manage content creation and consistently communicate with your audience to keep it fresh and interesting.
            </p>
            <p>
              <strong>Workshop</strong><br>In groups we brainstorm ideas for social media campaigns
              specific to youur business and audience.
            </p>
          </div>

        </div>
      </div>
  </section>

  <section class="white">
    <div class="contain">
      <div class="grid-container">

        <div class="ui stackable grid">
          <div class="ten wide column">
            <h2 class="section-title">Outcomes</h2>

            <ul class="outcome checkbox">
              <li>Walk away with a structure to design and
              manage communication and customer engagement</li>
              <li>Understand where to find the skills that are
              required to improve your companies social media and lead innovative campaigns</li>
              <li>Have a set of methods to start creating
              better content that will grow your audience</li>
            </ul>
          </div>
        </div>
      </div>
  </section>

  <section class="black">
    <div class="contain">
      <div class="grid-container">

        <div class="ui four column stackable grid">


          <div class="column center">
            <i class="material-icons large">
              watch_later
            </i>
            <p>60&ndash;90 minutes</p>
          </div>

          <div class="column center">
            <i class="material-icons large">
              how_to_reg
            </i>
            <p>2 industry experts</p>
          </div>

          <div class="column center">
            <i class="material-icons large">
              people_alt
            </i>
            <p>Up to 20 attendees</p>
            <p>£6000 + VAT</p>
          </div>

          <div class="column center">
            <i class="material-icons large">
              people_alt
            </i>
            <p>Each attendee over 20</p>
            <p>£100 + VAT</p>
          </div>



        </div>





      </div>
    </div>
  </section>

  {{ template "templates/components/booking.html" .}}


  {{ template "templates/components/footer.html" .}}


  {{ template "templates/components/scripts.html" .}}


</body>

</html>