<!doctype html>
<html class="no-js" lang="">

<head>
  <title>State of Emerging Tech - Mosaic Collective</title>
  {{ template "templates/components/meta.html" .}}
</head>

<body>
  <header>
    <div id="header-product-emerging" class="header-product">
      {{ template "templates/components/header.html" .}}
      <div id="header-content" class="contain">
        <h1 class="product-title">State of<br><span class="highlight">Emerging Tech</span></h1>
        <div class="bottom-link">
          <a href="#talks" class="info-link">Talk details <span class="highlight">&#8628;</span></a>
        </div>
      </div>
      <div id="header-mosaic"></div>
    </div>
  </header>

  <section class="white">
    <div class="contain">
      <div class="grid-container">
        {{ template "templates/components/talks.html" .}}

        <div class="ui stackable grid">
          <div class="ten wide column">

            <p class="product-intro">With the pace of technology advancing every day, understanding which new
              innovations will impact the future is a key step to staying ahead of your competition.</p>

            <p>This <strong>90 minute talk</strong> on the <strong>State of Emerging Tech</strong> will give your
              company the knowledge and awareness to embed future technology within your business strategy.</p>

          </div>

          <div class="six wide column">
            <div class="key-topics">
              <h2>Key topics</h2>

              <ul class="outcome checkbox">
                <li>Align your teams understanding of technologies on the
                  horizon</li>
                <li>Explore the evolution and adoption that surrounds new technology advances</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="brown">
    <div class="contain">
      <div class="grid-container">

        <div class="ui stackable grid">
          <div class="ten wide column">

            <p class="product-intro">What's covered?</p>
            <p><strong>Emergence</strong><br>We present an array of emerging technologies and cover their core premise
              and business implications.</p>

            <p><strong>Evolution</strong><br>We explore the evolution of emerging technologies and understand how a shift
              in technology leads to a change in consumer expectations and business strategy.</p>

            <p><strong>Opportunity</strong><br>
              To become a successful leader you must stay educated, up to
              date and able to spot opportunities. We explore strategies, resources and tools that will help you do this.</p>

            <p><strong>Workshop</strong><br>We break into groups and brainstorm ideas around emerging technologies could and how they could be utilized for your business sector.</p>

          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="white">
    <div class="contain">
      <div class="grid-container">

        <div class="ui stackable grid">
          <div class="ten wide column">
            <p class="product-intro">Outcomes</p>

            <ul class="outcome checkbox">
              <li>Have a clear understanding of what and why
              certain technologies will impact the future of your business</li>
              <li>Have a clear understanding of what and why
              certain technologies will impact the future of your business</li>
              <li>Learn to consider how a technological
              breakthrough may be an opportunity for business change</li>
            </ul>


          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="black">
    <div class="contain">
      <div class="grid-container">

        <div class="ui four column stackable grid">

          <div class="column center">
            <i class="material-icons large">
              watch_later
            </i>
            <p>60&ndash;90 minutes</p>
          </div>

          <div class="column center">
            <i class="material-icons large">
              how_to_reg
            </i>
            <p>2 industry experts</p>
          </div>

          <div class="column center">
            <i class="material-icons large">
              people_alt
            </i>
            <p>Up to 20 attendees</p>
            <p>£6000 + VAT</p>
          </div>

          <div class="column center">
            <i class="material-icons large">
              people_alt
            </i>
            <p>Each attendee over 20</p>
            <p>£100 + VAT</p>
          </div>

        </div>

      </div>
    </div>
  </section>

  {{ template "templates/components/booking.html" .}}

  {{ template "templates/components/footer.html" .}}

  {{ template "templates/components/scripts.html" .}}

</body>

</html>