<!doctype html>
<html class="no-js" lang="">

<head>
  <title>State of Innovation - Mosaic Collective</title>
  {{ template "templates/components/meta.html" .}}
</head>

<body>
  <header>
    <div class="header-product">
      {{ template "templates/components/header.html" .}}
      <div id="header-content" class="contain">
        <h1 class="product-title">State of<br><span class="highlight">Innovation</span></h1>
        <div class="bottom-link">
          <a href="#talks" class="info-link">Talk details <span class="highlight">&#8628;</span></a>
        </div>
      </div>
      <div id="header-mosaic"></div>
    </div>
  </header>


  <section class="white">
    <div class="contain">
      <div class="grid-container">
        {{ template "templates/components/talks.html" .}}


        <div class="ui stackable grid">
          <div class="ten wide column">

            <p class="product-intro">Supercharge your product improvement, develop new ideas and reduce risk.</p>

            <p>This <strong>90 minute talk</strong> on the <strong>State of Innovation</strong> will explore tools, methodologies and mindsets that remove risk from your innovation process.</p>


          </div>

          <div class="six wide column">
            <div class="key-topics">
              <h2>Key topics</h2>

              <ul class="outcome checkbox">
                <li>Put research at the heart of your process</li>
                <li>Create a culture that embraces success through incremental
                  learning</li>
                <li>Increase potential by using iterative cycles in your
                  product development</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="brown">
    <div class="contain">
      <div class="grid-container">

        <div class="ui stackable grid">
          <div class="ten wide column">

            <p class="product-intro">What's covered?</p>

            <p><strong>Innovation today</strong><br>
              Explore the current methodologies and mindsets for innovation and
              understand how they help develop unique and effective solutions.</p>

            <p><strong>Case studies</strong><br>
              The innovation process is a skill which needs to be developed over time.
              Examples can be found anywhere you look, and often approaches taken in completely different industries can
              offer hugely relevant insight.</p>

            <p><strong>Establishing a culture of innovation</strong><br>
              The principles of we cover are not hard to
              grasp conceptually, but putting them into practice can be a difficult discipline.</p>

          </div>

        </div>
      </div>
  </section>

  <section class="white">
    <div class="contain">
      <div class="grid-container">

        <div class="ui stackable grid">
          <div class="ten wide column">
            <p class="product-intro">Outcomes</p>

            <ul class="outcome checkbox">
              <li>Kick start a
              culture-shift that allows everyone in your organisation to feel empowered to innovate</li>
              <li>Adopt new processes to validate ideas and reduce risk</li>
              <li>Understand how to manage and test new projects and business ideas</li>
            </ul>

          </div>




        </div>
      </div>
  </section>

  <section class="black">
    <div class="contain">
      <div class="grid-container">

        <div class="ui four column stackable grid">


          <div class="column center">
            <i class="material-icons large">
              watch_later
            </i>
            <p>60&ndash;90 minutes</p>
          </div>

          <div class="column center">
            <i class="material-icons large">
              how_to_reg
            </i>
            <p>2 industry experts</p>
          </div>

          <div class="column center">
            <i class="material-icons large">
              people_alt
            </i>
            <p>Up to 20 attendees</p>
            <p>£6000 + VAT</p>
          </div>

          <div class="column center">
            <i class="material-icons large">
              people_alt
            </i>
            <p>Each attendee over 20</p>
            <p>£100 + VAT</p>
          </div>



        </div>





      </div>
    </div>
  </section>

  {{ template "templates/components/booking.html" .}}


  {{ template "templates/components/footer.html" .}}


  {{ template "templates/components/scripts.html" .}}


</body>

</html>