<!doctype html>
<html class="no-js" lang="">

<head>
  <title>State of AI - Mosaic Collective</title>
  {{ template "templates/components/meta.html" .}}
</head>

<body>

  <header>
    <div class="header-product">
      {{ template "templates/components/header.html" .}}
      <div id="header-content" class="contain">
        <h1 class="product-title">State of<br><span class="highlight">Artificial Intelligence</span></h1>
        <div class="bottom-link">
          <a href="#talks" class="info-link">Talk details <span class="highlight">&#8628;</span></a>
        </div>
      </div>
      <div id="header-mosaic"></div>
    </div>
  </header>


  <section class="white">
    <div class="contain">
      <div class="grid-container">
        {{ template "templates/components/talks.html" .}}
        <div class="ui stackable grid">
          <div class="ten wide column">
            <p class="product-intro">Understanding how to utilise data and machine learning is an essential strategy for
              the future of any business.
            </p>

            <p>This <strong>90 minute talk</strong> on the <strong>State of AI</strong> will impart the crucial knowledge
              your organization needs to transform its data strategy and start making more informed decisions.</p>


          </div>

          <div class="six wide column">
            <div class="key-topics">
              <h2>Key topics</h2>

              <ul class="outcome checkbox">
                <li>Learn how to think about AI from a leadership perspective.</li>
                <li>Understand how machine learning can help gain insight from data</li>
                <li>Methods to source and structure data</li>
                
              </ul>
            </div>
          </div>


        </div>
      </div>
  </section>

  <section class="brown">
    <div class="contain">
      <div class="grid-container">

        <div class="ui stackable grid">
          <div class="ten wide column">
            <p class="product-intro">What's covered?</p>
            <p>
              <strong>Defining Data</strong><br>
              We cover the fundamental principles of machine learning to give an aligned understanding of AI for your whole team.
            </p>

            <p>
              <strong>Data Management</strong><br>
              To apply AI successfully, your data management needs to be clearly defined and set into the heart of your business. We explore different methods and strategies you can use to transform your data pipeline.
            </p>

            <p>
              <strong>Data leader</strong><br>
              As a leader, understand the key ingredients to create ‘data first’ culture within your organisation.
            </p>

          </div>

        </div>
      </div>
  </section>

  <section class="white">
    <div class="contain">
      <div class="grid-container">

        <div class="ui stackable grid">
          <div class="ten wide column">
            <p class="product-intro">Outcomes</p>

            <ul class="outcome checkbox">
              <li>Knowledge of what AI techniques should be
              applied to each type of business problem</li>

              <li>Clear understanding of how to manage the sourcing and aggregation of data</li>

              <li>Tools to hire and outsource efficiently,
              whilst managing customer privacy and data bias</li>

            </ul>


          </div>

        </div>
      </div>
  </section>

  <section class="black">
    <div class="contain">
      <div class="grid-container">

        <div class="ui four column stackable grid">


          <div class="column center">
            <i class="material-icons large">
              watch_later
            </i>
            <p>60&ndash;90 minutes</p>
          </div>

          <div class="column center">
            <i class="material-icons large">
              how_to_reg
            </i>
            <p>2 industry experts</p>
          </div>

          <div class="column center">
            <i class="material-icons large">
              people_alt
            </i>
            <p>Up to 20 attendees</p>
            <p>£6000 + VAT</p>
          </div>

          <div class="column center">
            <i class="material-icons large">
              people_alt
            </i>
            <p>Each attendee over 20</p>
            <p>£100 + VAT</p>
          </div>

        </div>





      </div>
    </div>
  </section>

  {{ template "templates/components/booking.html" .}}


  {{ template "templates/components/footer.html" .}}


  {{ template "templates/components/scripts.html" .}}


</body>

</html>